/*init*/
html {
    font-size: 125%;
    font-family: 宋体;
    font-weight:500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: #34BEDE;
}
body{
    margin: 0;
    color: #FFFFFF;
    overflow-x: hidden;
    background-color: #34BEDE;
}

/*header*/
header{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 8px;
    background-color: #34BEDE;
    display: flex;
    justify-content: space-between;
}
header .title{
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    cursor: default;
}
header .l-label{
    width: 24px;
    height: 24.5px;
    background-image: url("vote.png");
    background-repeat: no-repeat;
    background-position: 0 -32.4px;
    background-size: 70.8px;
    margin-left: 10px;
    border: none;
    border-radius: 0;
    padding: 0;
    background-color: #34BEDE;
}
header .r-label{
    width: 22px;
    height: 22px;
    background-image: url("vote.png");
    background-repeat: no-repeat;
    background-position: -24.6px -32.4px;
    background-size: 70.8px;
    margin-right: 10px;
    border: none;
    border-radius: 0;
    background-color: #34BEDE;
    padding: 0;
}
/*main*/
main{
    margin-top: 47.5px;
    margin-bottom: 75px;
}
main .notice{
    background-color: #B9E9F5;
    padding: 5px 23px;
    vertical-align: middle;
    color: black;
}
main .notice .bb1{
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url("vote.png");
    background-repeat: no-repeat;
    background-size: 70.8px;
    float: right;
    position: absolute;
    top: 53px;
    right: 5px;
}
main .bb1:active audio{

}
main .container-fluid{
    background-color: #34BEDE;
}
main .triangle-down{
    margin-top: -1px;
    margin-left: 7px;
    width: 0;
    border: solid;
    border-top-color: #B9E9F5;
    border-left-color: #34BEDE;
    border-right-color: #34BEDE;
    border-bottom-color: #34BEDE;
    border-top-width: 10px;
    border-left-width: 5px;
    border-right-width: 5px;
}
main .row .cpd{
    padding: 0;
}
main .container-fluid .avatar{
    width: 96px;
    text-align: center;
    border: solid;
    margin: 20px 0 20px 0;
    margin: 0 auto;
    cursor: pointer;
}
main .container-fluid .identity{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #F5C97B;
    color: #565656;
    font-weight: 500;
}
main .container-fluid .id{

    background-color: #83B09A;
}
main .container-fluid .mud{
    margin-top: 10px;
    height: 130px;
}
main .container-fluid .hold{
    display: flex;
    width: 90px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
main .container-fluid .h1{
    width: 18px;
    height: 18px;
    background-image: url("vote.png");
    background-repeat: no-repeat;
    background-size: 70.8px;
    background-position: -32.4px 0;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}
main .container-fluid .h2{
    width: 18px;
    height: 18px;
    background-image: url("vote.png");
    background-repeat: no-repeat;
    background-size: 70.8px;
    background-position: -47.4px -19.2px;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}
main .container-fluid .h3{
    width: 18px;
    height: 18px;
    background-image: url("vote.png");
    background-repeat: no-repeat;
    background-size: 70.8px;
    background-position: -47.4px -38.4px;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}
main .container-fluid .h4{
    width: 18px;
    height: 18px;
    background-image: url("vote.png");
    background-repeat: no-repeat;
    background-size: 70.8px;
    background-position: -51.6px 0;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}
main .a1:hover .h1{
    display: block;
}
main .a1:hover .h2{
    display: block;
}
main .a1:hover .h3{
    display: block;
}
main .a1:hover .h4{
    display: block;
}
/*footer*/
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    z-index: 10;
    background-color: #34BEDE;
}
footer .bb2{
    width: 80%;
    height: 40px;
    border-radius: 0;
    background-color: #FBB435;
    color: #FFFFFF;
    font-size: 1rem;
}